@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Work+Sans:ital,wght@0,700;0,900;1,900&display=swap');


#gameDiv{
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    align-self:center ;
}
body{
 
    background-color: #0f2027;
}
#resultText{
    color: rgba(251,215,134);
}
#playerText{
    color:rgba(198,255,221);
}
#computerText{
    color:rgba(247,121,125);
}
.choiceBtn{
    border: none;
    border-radius: 25px;
    padding: 10px;
    min-width: 100px;
    background: linear-gradient(217deg, rgba(198,255,221), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(251,215,134), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(247,121,125), rgba(0,0,255,0) 70.71%);
    cursor: pointer;
    color: white;
    font-weight:700;
}